a {
    text-decoration: none;
    color: #FFFFFF;
}

.is-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.is-golden {
    color: #daa520;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
    background-color: #141414;
    color: #FFFFFF;
}

.banner {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    font-family: "Press Start 2P", cursive;

    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #ffd700, #ffd300, #ffcc00, #ffbf00, #ffb300, #ffa500, #ff9900, #ff8c00, #ff8000, #ff7300, #ff6600, #ff5900);
    border-image-slice: 1;

    background-color: #141414;
    box-shadow: inset 0 0 100px 40px #000000;
    color: #FFFFFF;
}

.banner__img {
    margin: 0 10px;
    height: 50px;
}

.banner__title {
    font-size: 1.5rem;
    margin: 0;
}

.banner__subtitle {
    padding: 1rem 0;

    font-size: 1rem;
}

.banner__button {
    padding: 1rem;
    margin: 0 auto;

    border-radius: 1rem;

    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

.panel { padding: 1rem; }

.panel__square {
    margin: 0.25rem;
    width: 80px;
    height: 80px;

    background-color: #FFFFFF;

    border-radius: 0.25rem;
    border: 2px solid #000; 
    box-shadow: inset 0 0 5px 10px #f3f3f3;
}

.panel__square--enemy {
    background-image: url("../img/enemy-fighting.gif");
    background-size: cover; /* ou 'contain', dependendo do efeito desejado */
}

.social-media {
    width: 100%;
    padding: 1rem;
    margin-top: 10rem;

    background-color: #141414;
    box-shadow: inset 0 0 100px 40px #000000;
    color: #FFFFFF;

    text-align: center;
    font-family: 'Wix Madefor Display', sans-serif;
    font-size: 0.875rem;
}

.social-media__links {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;
    
    margin: 1rem 0;
}

.social-media__message,
.social-media__link {
    margin: 0 1rem;
}
